.dream_description {
  margin: 0;
  & .form-label {
    margin: 0 0 10px 0;
  }
  & .form-control {
    margin: 0;
  }
}

.head {
  background-image: url('https://images.pexels.com/photos/2909261/pexels-photo-2909261.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-size: cover;
}
