// .text-justify {
//   text-align: justify;
// }

.card-product {
  overflow: hidden;
  height: 300px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.card-product img {
  height: 300px;
  width: 500px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.comments {
  text-align: center;
  background-image: url('https://images.pexels.com/photos/2909261/pexels-photo-2909261.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-size: cover;
  min-height: 78vh;
}
