<div class="footer">
  <div class="footer-links" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_tag("https://res.cloudinary.com/dvw6upciw/image/upload/v1669996311/footer-image_dvfuh7.jpg")%>')">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Fait avec <i class="fas fa-heart"></i> par la Dream Team
  </div>
</div>
