<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1532099514109-7d2d71629d82?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);">
  <div class="container">
    <h1>Louez le rêve de vos rêves</h1>
    <p>Ne subissez plus vos rêves, prenez le contrôle</p>
    <a class="btn btn-light button" href="dreams">Rêver</a>
  </div>
</div>

<div class="container">
  <h1>Nos rêves les plus populaires </h1>
  <div class="cards">
    <div class="card">
        <img src="https://yt3.ggpht.com/3gNYUHYh_WgMrDy0CQ06Z_S4Px0UgfNFwAOFUPFF3QiELv1d-KqmmC7NgMq2B8cbSQU4eePU=s900-c-k-c0x00ffffff-no-rj" alt="" class="card-image">
        <div class="text">
          <h3>Noël avec Mariah Carey</h3>
          <p>Prix: 200$</p>
        </div>
    </div>
    <div class="card">
        <img src="https://www.chosesasavoir.com/wp-content/uploads/2017/02/perdre-ses-dents.jpg" alt="" class="card-image">
         <div class="text">
          <h3>J'ai perdu mes dents</h3>
          <p>Prix: 70$</p>
        </div>

    </div>
    <div class="card">
        <img src="https://img.huffingtonpost.com/asset/5a53bcb81c0000220068f3e7.jpeg?cache=oJt89WAsZX&ops=1778_1000" alt="" class="card-image">
         <div class="text">
          <h2>Je me marie avec mon chat</h2>
          <p>Prix: 5000$</p>
        </div>
    </div>
  </div>
</div>
