<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(/assets/image-home-page.jpg);">
  <div class="container">
    <h1>You don't have to dream alone</h1>
    <p>Share your dreams</p>
    <a class="btn btn-light" href="dreams">Let's dream</a>
  </div>
</div>
