<div id="<%= dom_id location %>">

  <p>
    <strong>Comment:</strong>
    <%= location.comment %>
  </p>
  <p>
    <strong>User:</strong>
    <%= location.user.email %>
  </p>
  <p>
    <strong>Status:</strong>
    <%= location.status %>
  </p>

</div>
