<div id="<%= dom_id location %>">
  <p>
    <strong>Comment:</strong>
    <%= location.comment %>
  </p>
  <p>
    <strong>Status:</strong>
    <%= location.status %>
  </p>
  </div>
<h3>Your demands on rental</h3>

<div class = user_location>
  <p>
    <strong>Comment:</strong>
    <%= user.locations_as_owner%>
  </p>
</div>
