<div id="<%= dom_id rents %>">
  <p>
    <strong>Comment:</strong>
    <%= rent.comment %>
  </p>
  <p>
    <strong>User:</strong>
    <%= rent.user.email %>
  </p>
  <p>
    <strong>Status:</strong>
    <%= rent.status %>
  </p>
</div>
