
<div class="container">
<h1>Rêves que je veux louer</h1>

  <div id="locations">
    <% if @user.locations.empty? %>
    <div class="placeholder"></div>
    <%else %>
    <% @user.locations.each do |location| %>
    <div class="card-product">
      <%= render location %>
    </div>
    <% end %>
  <% end %>
  </div>
</div>
  <div class="container">
  <h1>Mes rêves à louer</h1>


  <div id="rental">
    <% if @user.locations_as_owner.empty? %>
    <div class="placeholder"></div>
     <%else %>
    <% @user.locations_as_owner.each do |rent| %>
    <div class="card-product">
      <%= render rent %>
    </div>
        <% rent.user != @user %>
          <%=link_to "Accepter", location_path(rent, status:'confirmed'), data:{turbo_method: :patch}, class:"btn btn-primary", :onclick=>'myFunction()'%>

          <%=link_to "Refuser", location_path(rent, status:'declined'), data:{turbo_method: :patch}, class:"btn btn-primary", :onclick=>'refuser()'%>
          <p id="accepte"></p>
          <p id="rejette"></p>
            <script>
              function myFunction() {
              document.getElementById("accepte").innerHTML = "Vous avez acceptez la location";
              alert("Vous avez acceptez la location");
            }
            </script>

            <script>
              function refuser() {
              document.getElementById("rejette").innerHTML = "Vous avez rejetez la location";
              alert ("Vous avez rejetez la location");
              }
            </script>
    <% end %>
    <% end %>

  </div>
</div>
