<div class="row comments ">
<div class="col-12 col-md-6 offset-lg-3 mt-5">
  <div class = "bg-white rounded p-3 shadow">
    <h1>Rental this dream</h1>
      <%= simple_form_for ([@dream, @location]) do |f| %>
        <%= f.input :comment %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>
